body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}





ul{
    overflow: hidden;
    display: flex;
    list-style-type: none;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 22px;
}

ul li a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    padding-left: 40px;
    font-family: 'Poppins', sans-serif;
}




